/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2015, 11:57:53 PM
    Author     : foxtrot
*/

.ui-panelgrid-cell {
    border-color: white !important;
}

.ui-panel .ui-panel-content {
    padding: 0px !important;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    margin: 0px !important;
}

.ui-outputlabel {
    white-space: nowrap;
    font-weight: bold;
}

.ui-column-title {
    font-size: small;
}

.info-only {
    text-align: left;
    width: 100%
}