<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SimpleStockManagerPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.development.simplestockmanager.business.persistence.PriceType</class>
    <class>com.development.simplestockmanager.business.persistence.Invoice</class>
    <class>com.development.simplestockmanager.business.persistence.PaymentType</class>
    <class>com.development.simplestockmanager.business.persistence.LanguageType</class>
    <class>com.development.simplestockmanager.business.persistence.AnalyticsTime</class>
    <class>com.development.simplestockmanager.business.persistence.Employee</class>
    <class>com.development.simplestockmanager.business.persistence.Client</class>
    <class>com.development.simplestockmanager.business.persistence.Record</class>
    <class>com.development.simplestockmanager.business.persistence.EmployeeType</class>
    <class>com.development.simplestockmanager.business.persistence.Item</class>
    <class>com.development.simplestockmanager.business.persistence.ProductType</class>
    <class>com.development.simplestockmanager.business.persistence.Stock</class>
    <class>com.development.simplestockmanager.business.persistence.Product</class>
    <class>com.development.simplestockmanager.business.persistence.Brand</class>
    <class>com.development.simplestockmanager.business.persistence.Provider</class>
    <class>com.development.simplestockmanager.business.persistence.SexType</class>
    <class>com.development.simplestockmanager.business.persistence.Price</class>
    <class>com.development.simplestockmanager.business.persistence.Store</class>
    <class>com.development.simplestockmanager.business.persistence.PriceTypeTranslation</class>
    <class>com.development.simplestockmanager.business.persistence.ProductTypeTranslation</class>
    <class>com.development.simplestockmanager.business.persistence.Language</class>
    <class>com.development.simplestockmanager.business.persistence.SexTypeTranslation</class>
    <class>com.development.simplestockmanager.business.persistence.PaymentTypeTranslation</class>
    <class>com.development.simplestockmanager.business.persistence.EmployeeTypeTranslation</class>
    <class>com.development.simplestockmanager.business.persistence.LanguageTranslation</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://172.16.8.129:3306/STOCK?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="stock_user"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="stock_password"/>
    </properties>
  </persistence-unit>
</persistence>
